.angular-matcher
  span.match(ng-repeat='match in matches')
    span.close(ng-click="remove(match)")
      i.icon-remove
    auto-input.field(result="match", key="blank", suggestions="suggestions")
    span.comma :
    auto-input.value(result="match.value", key="match", suggestions="suggestions")
  auto-input.last(result="child", key="blank", suggestions="suggestions")