span.close(ng-click="remove()")
  i.icon-remove
auto-input.field(result="filter.result", key="filter.key", resolver="showList")
span.comma :
auto-input.value(result="filter.result.value", key="filter.result.key", resolver="showList")