span.close(ng-click="remove(filter)")
  i.icon-remove
auto-input.field(result="filter.result", key="filter.key", suggestions="showList")
span.comma :
auto-input.value(result="filter.result.value", key="filter.result.key", suggestions="showList")