.sandbox
  form
    .angular-matcher.input-xxlarge(placeholder="Start here")
      span(ng-repeat='filter in filters', angular-matcher-filter)
        .match(angular-matcher-match)
          span.close
            i.icon-remove
          auto-input.field(result="filter.result", key="filter.key", resolver="showList")
          span.comma :
          auto-input.value(result="filter.result.value", key="filter.result.key", resolver="showList")
      auto-input(result="child", key="blank", resolver="showList")