.sandbox
  form
    .input-prepend.input-append
      span.add-on
        i.icon-search
      .angular-matcher.input-xxlarge(placeholder="Start here")
        input(type="text")
      button.btn(type="button")
        i.icon-remove

  ul.dropdown-menu(role="dropdown-menu", aria-labelledby="dropdownMenu")
    li
      a(tabindex="-1", href="#") Body Type
      a(tabindex="-1", href="#") Manufacturer
      a(tabindex="-1", href="#") Model