ul.dropdown-menu.contextMenu(style="display: block; position: absolute", ng-style="style")
  li(ng-repeat="element in elements", ng-class="{active: element.active}", ng-mouseenter="select(element)")
    a(tabindex="-1", href="#", ng-click="take(element)") {{ element.text }}
